/* Page overall Styles */
body {
background-color: #E5E5E5;
color: #527C98;
}

body h1 {
text-align: center;
}

body h2 {
margin-left: 30%;
}

body p {
margin-left: 30%;
margin-right: 30%;
}

/* Image carousel */
.carousel {
    position: relative;
    overflow: hidden;
    height: 1000px;
  }
  
  .carousel-container {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 3s ease-in-out;
  }
  
  .carousel-slide {
    width: 33.33%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
    
  .carousel-nav button {
    background-color: #fff;
    color: #000;
    border: none;
    margin: 0 0.5em;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
  }
    
  .carousel-nav button:focus {
        outline: none;
    }

 /*Menu and options*/
  .menu {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
    border: solid;
  }
  
  nav li a {
    text-decoration: none;
    color: #1b4777;
    padding-bottom: 5px;
    border: solid;
    transition: border-color 0.2s ease-in-out;
  }
  
  nav a:hover {
    border-color: #133458;
  }

  nav img {
    display: center;
    width: 256px;
    height: 256px;
    margin: 20 0 20 20;
  }


  /* Footer */
  .footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #5E7EA2;
    padding: 2em;
    color:#E5E5E5;
  }
  
  .footer-column {
    flex-wrap: wrap;
    justify-content: space-between;
    color:#E5E5E5;
  }
  
  .footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  .footer-column ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-column li {
    margin-bottom: 0.5em;
  }
  
  .footer-column a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }

  /* Game Cards */
  .card-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 30%;
    margin: 1em auto;
    text-align: center;
    border-style: outset;
    border-width: medium;
    padding: 1em;
  }
  
  .card img {
    max-width: 256px;
    max-height: 256px;
  }
  
  .card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .caption {
    margin-top: 0;
    font-style: italic;
  }
  
  .card ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }