/* Image carousel */
.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    animation-name: slide;
    animation-duration: 3s;
  }

  @keyframes slide {}
  
  .carousel-container {
    display: flex;
    width: 300%;
    height: 100%;
  }
  
  .carousel-slide {
    width: 33.33%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Footer */
  footer {
    background-color: #eee;
    padding: 2em;
  }
  
  .footer-columns {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-columns h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  .footer-columns ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-columns li {
    margin-bottom: 0.5em;
  }
  
  .footer-columns a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-columns a:hover {
    text-decoration: underline;
  }

  /*Menu and options*/
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    margin: 0 auto;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .menu li {
    list-style: none;
    margin: 0 20px;
  }

  .menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .menu li a:hover {
    background-color: #333;
    color: #fff;
  }

  /* Game Cards */
  .card {
    display: inline-block;
    width: 80%;
    margin: 1em auto;
    text-align: center;
    border: 1px solid #080808;
    border-radius: 5px;
    padding: 1em;
  }
  
  .card img {
    max-width: 256px;
    max-height: 256px;
    height: auto;
    display: block;
    margin: 0 auto 1em;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card .caption {
    font-style: italic;
  }
  
  .card .links {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .card .links a {
    margin: 0 1em;
  }