/* General styling the body */
body {
    background-color: #373e79;
    font-family: Verdana, Arial;
    color: #d5d7e4;
}
body h4 {
    font-style: italic;
}
body a {
    color: #d3c503;
}
/* Making the video billboard */
.video-billboard {
    position: relative;
    height: 50px;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
.video-billboard iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Menu bar styling */
  .menu {
    background-color: #40478a;
    overflow: hidden;
    text-align: center;
  }

  /* Menu Links styling */
  .artist {
    display: inline-block;
    background-image: url(https://cdn.dribbble.com/users/391315/screenshots/3438441/aliciakeys_sketch_dribbble.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .menu a {
    float: center;
    color: #d3c503;
    padding: 14px 16px;
    text-decoration: none;
  }
  .menu a.active {
    background-color: #000e58;
  }

  /* Making the news articles */
  .news-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    margin-top: 50px;
  }
  
  /* Setting the news articles in 3 columns */
  .news-column {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    box-sizing: border-box;
  }
  
  /* Setting up the styling for the news body content */
  .news-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .news-title a {
    color: #d3c503;
  }
  .news-subline {
    font-size: 11px;
    font-style: italic;
  }
  .news-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .news-image {
    width: 100%;
    margin-bottom: 10px;
  }
  /* Making an album box */
.album-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
  }
  
  /* Setting the columns to 3 */
  .album-column {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    box-sizing: border-box;
  }
  
  /* Content inside the album bos for the discography */
  .album-image {
    width: 100%;
    margin-bottom: 10px;
  }
  .album-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .album-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .album-songs {
    font-size: 16px;
    line-height: 1.5;
    border: white;
  }
  .album-songs ul {
    margin: 0;
    padding-left: 20px;
    border: transparent transparent transparent #d5d7e4;
  }
  .album-songs li {
    margin-bottom: 5px;
  }

  /* The play button that takes you to youtube for the album */
  .play-button {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ff4136;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 64px;
    text-decoration: none;
    overflow: hidden;
  }
  
  .play-button span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 32px;
    border-color: transparent transparent transparent white;
    transition: all 0.3s ease;
  }
  
  .play-button:hover span {
    border-width: 0 0 0 32px;
  }

  /* Creating footer styling */
  footer {
    background-color: #40478a;
    padding: 20px;
  }
  
  footer p {
    margin-bottom: 10px;
    text-align: center;
  }
  
  nav ol {
    margin: 0;
    padding: 0;
  }
  
  nav ol li {
    margin: 0 10px;
  }
  
  nav ol li a {
    color: #d3c503;
    text-decoration: none;
  }
  
  nav ol li a:hover {
    text-decoration: underline;
  }